{% extends 'base.html' %}

{% block content %}
    <div class="post row">
        <div class="col-12">
            <a class="btn btn-default float-end" href="{% url 'post_edit' pk=post.pk %}"><i class="bi bi-pencil h5"></i></a>
            <h2 class="mb-0">{{ post.title }}</h2>        
            {% if post.published_date %}
                <p class="text-muted mx-3 fst-italic">{{ post.published_date }}</p>
            {% endif %}
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    </div>
{% endblock %}
